.div1 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: light gray;

}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:200px;
    width:200px;
    background-color: lightskyblue;
    border:solid2px orange;
}
