.static-box {
    background-color:lightcoral;
    color: white;
    padding: 20px;
    border:2px dotted black;
    /* if you set these , they wont move the box */
    position:static;
}
.relative-box {
    background-color: lightskyblue;
    color:white;
    padding: 20px;
    border: solid blue;

    position: relative;
    
}

.normal-box {
    background-color: lightgray;
    padding: 20px;
    border:2px solid gray;
    
}
.parent-box {
    background-color: #f0f0f0;
    padding: 50px;
    border: 3px dashed black;
    height: 200px;
    position:relative;

}

    .absolute-box {
        background-color: azure;
        padding: 10px;
        border: 2px solid blanchedalmond;
        width: 100px;
        position: absolute;
        /* 2. position relative top.right corner of parent */
        top: 10px;
        right: 10px;

    }

    .absolute-box2 {
        position: absolute;
        left: 10px;
        top:10px;
        width:100px;
        height:100px;
        border:3px solid green;
        background-color: lightgreen;
    }
    .fixed-box {
        background-color: #333;
        color: white;
        padding: 15px;
        width: 100px; /* spans the full width of the viewport */
        text-align: center;
        position: fixed;

        /* lock it to the bottom of the browser window*/
        bottom: 0;
        right:0px;
        z-index:1000;/* ensure it is on the top of other content*/
    }
